*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.card{
    width: 250px;
    height: 250px;
    background-color: green;
    color: white;

}
.cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
